body{
    background-color: #E9D8CB;

}
nav{
    background-color: #381F17;
    padding: 10px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
nav a{
    color: #e1b2a3;
    text-decoration: none;
    margin: 0 10px;
    padding: 14px 16px;
    font-style: normal;
    font-size: 20px;

}
nav a:hover{
    color: #fff;
text-decoration: none;
}
.container{
    margin-top: 350px;
   text-align: center;
    color: #381F17;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
button{
    border-radius: 100%;
    background-color: #a7715f;
    color: #381F17;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 70px;
    
    margin-top: 30px;
    transition: .5s;
    margin-bottom: 100px;
}

p{
    color: #a7715f;
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}
.type{
    margin-left: 100px;

}
.box{
    width: 95%;
    height:60vh;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow:hidden;

}
.card{
    width:250px;
    height:350px;
    text-align: center;
    padding:5px;
    

}
img{
    margin-top: 60px;
}
.tag{
    margin:12px;
}
h4{
    color:#381F17;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    margin-top: 60px;
    margin-left:80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#381F17;


}