body{
    background-image: url("Desktop\ -\ 4\ \(3\).png");
    background-size: cover;      
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
img{
    margin-top: 100px;
    margin-left: 100px;
    
}
.topnav{
    background-color: #0e0631;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;

   
}
.topnav a{
    color: #e9ab5a;
    text-decoration: none;
    margin: 0 10px;
    padding: 14px 16px;
    

  
}
 a:hover{
    color: #fff;
text-decoration: none;
}
 a:active{
    color: #ff6200;
    text-decoration: none;
}
h1{
    font-size: 3.5rem;
    color: #0c2048;
    margin-left: 200px;
    margin-top: 0px;
    font-family:cursive;
}