body{
    background-image: url("backround\ \(1\).png");
    background-size: cover;      
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
img{
    margin-top: 100px;
    margin-left: 100px;
    
}
.container{
    margin-top: 350px;
   text-align: center;
    color: #381F17;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
   
}
button{
    border-radius: 100%;
    background-color: #c39586;
    color: #381F17;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 70px;
    
    margin-top: 200px;
    transition: .5s;
    margin-bottom: 100px;
}



h1{
    font-size: 3.5rem;
    color: #E9D8CB;
    margin-left: 200px;
    margin-top: 0px;
    font-family:cursive;
}