body {
    background: url("photos/log.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

h1 {
    font-size: 3.5rem;
    color: #FFFFFF;
    margin-left: 300px;
    font-family:cursive;
}

label {
    font-size: 20px; 
    color: #FFFFFF;
    margin-left: 200px;
   
}

input {
   
    width: 80%;
    max-width: 400px; 
    height: 50px; 
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2rem; 
    margin: 10px 200px; 
   
    border: none;
}

button {
    width: 50%; 
    max-width: 200px;
    height: 50px; 
    border-radius: 5px;
    border: none; 
    font-size: 1.2rem;
    background-color: #E9D8CB;
    color: #381F17;
    margin: 30px 320px;
    cursor: pointer;
    transition: .5s;
    
 }


p{
    color:#f3fcfd;
    margin-left: 270px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color:#f5d3bd;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}