body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9D8CB;
}

h1 {
    text-align: center;
    margin-top: 90px;
    color: #381F17;
}

nav{
    background-color: #381F17;
    padding: 10px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
nav a{
    color: #e1b2a3;
    text-decoration: none;
    margin: 0 10px;
    padding: 14px 16px;
    font-style: normal;
    font-size: 20px;

}
nav a:hover{
    color: #fff;
text-decoration: none;
}






table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #333;
    color: #fff;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

tbody tr:last-child {
    border-bottom: none;
}

