body{
    background: url("sign.png");
    background-size: cover;
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 3.5rem;
    color: #FFFFFF;
    margin-left: 1130px;
    font-family:cursive;
}
label{
    font-size: 20px; 
    color: #FFFFFF;
    margin-left: 1000px;
}
input{
    width: 80%;
    max-width: 400px; 
    height: 50px; 
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2rem; 
    margin: 10px 1000px; 
    border: none;
}
button{
    width: 50%; 
    max-width: 200px;
    height: 50px; 
    border-radius: 5px;
    border: none; 
    font-size: 1.2rem;
    background-color: #F49E6A;
    color: #1B3248;
    margin: 30px 1110px;
    cursor: pointer; }
p{
    color:#E1F6F7;
    margin-left: 1050px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color:#a9eef2;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
